<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Best Programming Languages</title>
    <link
      href="../public/css/styles.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header>
      <h1>Alex's programming languages</h1>
    </header>
    <div class="container">
      <div class="row no-gutters">
        <nav class="nav bg-secondary side-nav col-sm-12 col-md-2 col-lg-2 h-25">
          <a class="nav-link text-white w-100" href="#ocaml">Ocaml</a>
          <a class="nav-link text-white w-100" href="#typescript">TypeScript</a>
          <a class="nav-link text-white w-100" href="#rust">Rust</a>
          <a class="nav-link text-white w-100" href="#cpp">C++</a>
          <a class="nav-link text-white w-100" href="#go">Golang</a>
          <a class="nav-link text-white w-100" href="#ruby">Ruby</a>
          <a class="nav-link text-white w-100" href="#c">C</a>
          <a class="nav-link text-white w-100" href="#brainfuck">Brainfuck</a>
          <a class="nav-link text-white w-100" href="#cobol">Cobol</a>
          <a class="nav-link text-white w-100" href="#python">Python</a>
        </nav>
        <main class="col-sm-12 col-md-10 col-lg-10">
          <div class="row no-gutters">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="ocaml" class="card h-100">
                <h2 class="card-title">Ocaml</h2>
                <img
                  class="card-img-top"
                  src="../public/images/ocaml.jpg"
                  alt="Ocaml logo"
                />
                <div class="card-body">
                  <p class="card-text">
                    A functional programming language in the ML family.
                  </p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#ocaml-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="ocaml-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">No more crying at runtime</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Ocaml is much better than everything else. Seriously,
                        the programs that are written in functional languages
                        like Ocaml are easy to understand and write. The type
                        system is so expressive and powerful that you have a
                        very good idea of how your program will run after it is
                        compiled. I look forward to seeing where the
                        <a
                          href="https://github.com/reasonml/reason-react"
                          target="_blank"
                          >Reason React</a
                        >
                        project ends up. Proper types on the front end are
                        definitely something we should care about.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="typescript" class="card h-100">
                <h2 class="card-title">TypeScript</h2>
                <img
                  class="card-img-top"
                  src="../public/images/typescript.jpg"
                  alt="TypeScript logo"
                />
                <div class="card-body">
                  <p class="card-text">
                    Types in a practical language? I'm in.
                  </p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#typescript-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="typescript-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">
                        TypeScript has brough sanity to web dev
                      </h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        The amount of times that JavaScript's type system has
                        made me lose my mind cannot be overstated. While
                        TypeScript cannot necessarily enforce types in the way
                        that a language like Ocaml can, it serves its purpose in
                        a world of computing which needs a little bit of
                        flexibility. TypeScript might be one of the best things
                        Microsoft has ever worked on. Sure beats Windows.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="rust" class="card h-100">
                <h2 class="card-title">Rust</h2>
                <img
                  class="card-img-top"
                  src="../public/images/rust.jpg"
                  alt="Rust logo"
                />
                <div class="card-body">
                  <p class="card-text">
                    A programming language that has everything, except wide
                    adoption.
                  </p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#rust-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="rust-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">
                        The type system is Turing Complete
                      </h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        How cool is that? The power Rust gives programmers at
                        compile time makes it the best systems programming
                        language of all time. No more seg-faults, and no crying.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="cpp" class="card h-100">
                <h2 class="card-title">C++</h2>
                <img
                  class="card-img-top"
                  src="../public/images/cpp.jpg"
                  alt="C++ logo"
                />
                <div class="card-body">
                  <p class="card-text">
                    It's not C++'s fault that CS385 uses C++87
                  </p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#cpp-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="cpp-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">
                        Can a language really have too many features?
                      </h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Yeah, C++ has way too many features and different ways
                        to do the same thing. Reading code from a good and bad
                        C++ programmer makes the language look entirely
                        different. I'll never learn this.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="go" class="card h-100">
                <h2 class="card-title">Go</h2>
                <img
                  class="card-img-top"
                  src="../public/images/go.jpg"
                  alt="Go logo"
                />
                <div class="card-body">
                  <p class="card-text">
                    A systems programming language written by evil people.
                  </p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#go-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="go-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">No clue how this really is</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Go seems cool. I just won't try it until I have to
                        because I like to avoid Google when possible.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="ruby" class="card h-100">
                <h2 class="card-title">Ruby</h2>
                <img
                  class="card-img-top"
                  src="../public/images/ruby.jpg"
                  alt="Ruby logo"
                />
                <div class="card-body">
                  <p class="card-text">Better than Python, probably</p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#ruby-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="ruby-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Maybe someday</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Ruby on Rails is pretty popular. Never tried it before
                        but probably will have to at some point. It can't be
                        worse than Python.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="c" class="card h-100">
                <h2 class="card-title">C</h2>
                <img
                  class="card-img-top"
                  src="../public/images/c.jpg"
                  alt="C logo"
                />
                <div class="card-body">
                  <p class="card-text">
                    Would be higher if I felt like I was good at it.
                  </p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#c-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="c-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">The big brain language</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Do it all yourself. Mess up? Too bad, you're just
                        stupid. Yes, you should keep track of the logic of your
                        program, the flow of all allocated memory, and
                        understand how to read macros. I guess if it were that
                        bad, C wouldn't be the basis of pretty much everything.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="brainfuck" class="card h-100">
                <h2 class="card-title">Brainfuck</h2>
                <img
                  class="card-img-top"
                  src="../public/images/brainfuck.jpg"
                  alt="Brainfuck logo"
                />
                <div class="card-body">
                  <p class="card-text">I didn't just put this to be edgy...</p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#brainfuck-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="brainfuck-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">I won't say the name again</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        The language is the basis for the realiztion of many
                        thought experiments. There's been instances of people
                        proving Excel to be Turing Complete by showing that it
                        is reducible to (this) language. Same for the Rust type
                        system... I think.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="cobol" class="card h-100">
                <h2 class="card-title">Cobol</h2>
                <img
                  class="card-img-top"
                  src="../public/images/Cobol.jpg"
                  alt="Cobol logo"
                />
                <div class="card-body">
                  <p class="card-text">Now I'm just showing off</p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#cobol-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="cobol-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">
                        I don't know anything about Cobol
                      </h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        But I think it's pretty funny to put it before Python.
                        Especially given all the awful things I've heard about
                        the language.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="python" class="card h-100">
                <h2 class="card-title">Python</h2>
                <img
                  class="card-img-top"
                  src="../public/images/python.jpg"
                  alt="Python logo"
                />
                <div class="card-body">
                  <p class="card-text">Yikes</p>
                  <a
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#python-modal"
                    tabindex="0"
                    >More info</a
                  >
                </div>
              </div>
              <div
                class="modal fade"
                id="python-modal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">I don't see the appeal</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Listen, I get R is a pain to work with. To all of the
                        people in data science (God bless you) I get it. To the
                        rest of you... why? You need to download Python to run
                        the code. What? You don't declare types, but the
                        language is strongly typed. Huh? White space is used to
                        control blocks of code, but somehow it still looks ugly.
                        How? To all of you Leetcode itertools one-liners, stay
                        off the boards. No one wants to see that.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="../public/js/vendor.min.js"></script>
  </body>
</html>
