@import 'variables';
@import '../bootstrap/scss/functions';
@import '../bootstrap/scss/variables';
@import '../bootstrap/scss/mixins';
@import '../bootstrap/scss/nav';
@import '../bootstrap/scss/modal';
@import '../bootstrap/scss/grid';
@import '../bootstrap/scss/buttons';
@import '../bootstrap/scss/card';
@import '../bootstrap/scss/utilities';

body,
html {
  background: $body-bg;
  color: $primary;
  font-family: $font-family-sans-serif;
  font-size: $primary-font-size;
}

p {
  font-size: $secondary-font-size;
  padding-left: 5px;
  color: $secondary;
}

h1,
h2 {
  padding-left: 5px;
  color: $secondary;
}

img {
  height: 200px;
  width: 100px;
}

img[alt] {
  color: $secondary;
  padding-left: 5px;
}
